.wrapper{
    background-color: antiquewhite; 
    color:hsl(216, 39%, 51%);
    line-height: 40px;
    padding-top:20px;
    flex:0 0 40%;
}å

.Twitter{
    font-size: 20px;
    font-weight: bold;
    color:hsl(271, 86%, 22%);
}