.app{
    /* width: 800px;
    height:400px;
    margin:20px;
    padding:120px;
    border-radius: 30px;
    border: 4mm ridge rgba(170, 50, 220, 0.19);
    flex:wrap; */

    position: fixed;
    height: 90vh;
    width: 900px;
    box-shadow: 0 0 3px 5px #ccc;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    &>div{
      height: 50%;
    }
}